#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#result {
  z-index: 999;
  position: absolute;
  background-color: #F9AA1F;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: 5px solid white;
  left: 50%;
  transform: translate(-50%, 0);
}


.title-letter {
  -webkit-text-stroke: 2px white;
}

.input-box {
  padding: 1rem;
  background-color: #3DA5E0;
  border-radius: 1rem;
  border: 5px solid white;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.input-box > input {
  width: 100%;
}