:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


li {
  list-style-type: none;
}

.btn {
  border: 5px solid white;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}

.bg-purple {
  background-color: #815CD1;
}

.bg-orange{
  background-color: #F9AA1F;
}